.DS_Store

# Editor project files
.idea/
.cursor/
.vscode/

# Dependency directories
node_modules/

# Build directory
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
