#commandcenter-container {
    z-index: 9999999999999999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100vw;
    top: 0;
    padding: 0;
    margin: 0;
}

.commands-container {
    width: 300px;
    max-width: 700px;
    margin: 0;
    padding: 0;
}

/** erles */
span.mag-icon-wrapper[data-image-view-modal-codename] {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}

/** reddit */
body div.side {
    width: 200px;
}