@use './colors' as *;

@mixin normalize {
    box-sizing: initial;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}

@mixin system-font {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@mixin container-base {
    @include system-font;
    max-height: 80vh;
    min-width: 1000px;
    width: 1000px;
    max-width: 1000px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid $kh-silver;
    line-height: 1.2;
    text-align: left;
    -webkit-font-smoothing: initial;

    *, div, input, span {
        @include normalize;
    }
}

@mixin border-hr {
    border-bottom: 1px solid $kh-white;
    padding-bottom: 15px;
}
